<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imgur Clone</title>
</head>
<body>
    <h1>Imgur Clone</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="image">Select an Image:</label>
        <input type="file" name="image" id="image" required>
        <button type="submit">Upload</button>
    </form>
    <h2>Uploaded Images</h2>
    <div>
       
        {{ range . }}
        <div>         
            <img src="/images/{{ .Filename }}" alt="Uploaded Image" style="width: 200px;">
               <form action="/delete" method="POST">
                <input type="hidden" name="filename" value="{{ .Filename }}">
                <button type="submit">Delete</button>
            </form>
        </div>
        <hr>
        {{ end }}
    </div>
</body>
</html>
